[global_config]
  always_split_with_profile = True
  focus = system
  suppress_multiple_term_dialog = True
[keybindings]
  copy = <Primary>c
  full_screen = <Ctrl><Shift>F11
  paste = <Primary>v
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Cobalt2
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 1100, 400
      type = Window
[plugins]
[profiles]
  [[default]]
    allow_bold = False
    cursor_color = "#aaaaaa"
    use_system_font = False
  [[Cobalt2]]
    background_color = "#132738"
    background_darkness = 0.97
    background_type = transparent
    copy_on_selection = True
    cursor_color = "#f0cc09"
    font = Monospace 10
    foreground_color = "#ffffff"
    palette = "#000000:#ff0000:#38de21:#ffe50a:#1460d2:#ff005d:#00bbbb:#bbbbbb:#555555:#f40e17:#3bd01d:#edc809:#5555ff:#ff55ff:#6ae3fa:#ffffff"
    scrollback_infinite = True
    scrollback_lines = 5002
    use_system_font = False
